[Desktop Entry]
Categories=Utility
Name=Control Tester
Name[en]=Control Tester
Comment=Test your game controllers
Comment[en]=Test your game controllers
Type=Application
Exec=ctrltest
Terminal=false
Icon=ca.vlacroix.ControlTester
StartupNotify=false
